@font-face {
    font-family: 'Hemi Head';
    src: url('HemiHead426.eot');
    src: url('HemiHead426.eot?#iefix') format('embedded-opentype'),
        url('HemiHead426.woff2') format('woff2'),
        url('HemiHead426.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
